Source: festvox-ca-ona-hts
Section: sound
Priority: optional
Maintainer: Sergio Oller <sergioller@gmail.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2
Homepage: http://www.talp.cat/festcat/

Package: festvox-ca-ona-hts
Architecture: all
Depends: festival-ca (>=1.0), ${misc:Depends}
Provides: festival-catalan-voice
Description: Catalan female speaker for festival, 16kHz HTS
 This is a Catalan female HTS voice for festival that uses 
 16kHz samples. Using festival, this package allows to transform 
 written text to speech spoken with a high quality female voice.
 
 This voice was generated with 10 hours of recordings at 
 Universitat Politècnica de Catalunya.

